<mat-toolbar color="primary">
  <button (click)="sidenav.toggle()" mat-mini-fab><mat-icon>menu</mat-icon></button>
  <span class="fill-remaining-space"></span>
  <span>
    Component Thin Clients
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="app-sidenav">
    <nav>
      <a mat-button
         class="nav-link"
         *ngFor="let link of links"
         [routerLink]="link.path"
         routerLinkActive="active">
        <mat-icon>{{link.icon}}</mat-icon> &nbsp;
        {{link.label}}
      </a>
    </nav>
  </mat-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
    <hr>
    <div class="container">
      <div class="col-50">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h1>STEP 01: Manual Step</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-button (click)="step()">STEP</button>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h1>STEP 02: Manual Cycle</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p mat-line>
              Timer: {{timerInterval / 1000}} Seconds
            </p>
            <mat-slider min="100" max="2000" step="100" value="500" thumb-label="true"
                        [(ngModel)]="timerInterval" class="full-width"></mat-slider>
            <button mat-button (click)="cycle()">CYCLE</button>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h1>STEP 03: Dynamic Step</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form>
              <mat-input-container class="full-width">
                <input matInput placeholder="Action"
                       [(ngModel)]="action" type="text" name="action">
              </mat-input-container>
              <button mat-button (click)="dispatch(action)">DISPATCH</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-50">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h1>STEP 04: Dynamic Cycle</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form>
              <mat-input-container class="full-width">
                <textarea matInput placeholder="Actions" matTextareaAutosize
                      [(ngModel)]="rawActions" type="text" name="actions"></textarea>
              </mat-input-container>
              <button mat-button (click)="dispatchCycle(rawActions)">DISPATCH</button>
            </form>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h1>STEP 05: Remote Step</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form>
              <mat-input-container class="full-width">
                <input matInput placeholder="Action"
                       [(ngModel)]="action" type="text" name="action">
              </mat-input-container>
              <button mat-button (click)="dispatchRemote(action)">DISPATCH</button>
            </form>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h1>History</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-button (click)="undo()">UNDO</button>
            <button mat-button (click)="redo()">REDO</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-container>
